/* Importar la fuente SD Dystopian */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

/* Estilos */
/*neon style*/
body {
    background: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
}

* {
    font-family: 'Orbitron', sans-serif;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
    font-size: 24px;
    color: #fff;
    /*animation: flicker 1.5s infinite alternate;*/
    animation: pulsate 0.11s ease-in-out infinite alternate;
    margin: 0 30px 0 0;
    font-size: 32px;
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;
    }
  }

/* Flicker animation
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px rgb(189, 0, 142),
        0 0 11px rgb(189, 0, 142),
        0 0 19px rgb(189, 0, 142),
        0 0 40px rgb(189, 0, 142),
        0 0 80px rgb(189, 0, 142),
        0 0 90px rgb(189, 0, 142),
        0 0 10px rgb(189, 0, 142),
        0 0 150px rgb(189, 0, 142);
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
*/
li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
}

li {
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: #f09 0 0 12px;
    text-shadow: #f09 0 0 10px;
    box-shadow: #f09 0 1.5px 3px;
    margin: 9px;
    transition: 0.3s;
}

li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 153, 0.075);
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

